/*GENERAL*/

:root {
    --primary-100:#0077C2;
    --primary-200:#59a5f5;
    --primary-300:#c8ffff;
    --accent-100:#00BFFF;
    --accent-200:#00619a;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#FFFFFF;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
    --border-color:rgba(200, 200, 200, 0.25);
}

body {
    margin: 140px 0 0 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

a, p {
    color: var(--text-200);
    text-decoration: none;
}

h6, h5, h4, h3, h2, h1 {
    color: var(--text-100);
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    max-width: 140px;
    max-height: 140px;
}

.multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to display */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: var(--text-200);
  }

button {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.details {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}

.details h4:hover,
.details h4:focus-visible  {
    color: var(--text-200);
    transition: color 250ms;
}

/* HEADER*/

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-100);
    top: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(200, 200, 200, 0.30);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

header nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

header nav ul li {
    display: list-item;

}

header nav ul li h4:hover,
header nav ul li h4:focus-visible {
    transition: color 250ms;
    color: var(--text-200);
}

#menu {
    display: none;
    position:sticky;
    width: 100%;
    height: 100%;
    background-color: var(--bg-200);
    flex-direction: column;
    z-index: 3;
}

#menu ul {
    padding: 10px 20px;
}

#menu ul li h4 {
    font-size: larger;
}

.menu-btn {
    display: none;
    align-self: center;
}

.donation-btn,
form button {
    border: none;
    background-color: var(--primary-100);
    color: var(--bg-100);
    padding: 10px 15px;
    border-radius: 2px;
    transition: all 1000ms;
}

.donation-btn:hover,
.donation-btn:focus-visible {
    transform: translateY(-6px);
    transition: all 250ms;
    background-color:  var(--accent-200);
}

form button:hover,
form button:focus-visible {
    transition: all 250ms;
    background-color:  var(--accent-200);
}

/*HERO*/

.hero-image {
    display: flex;
}

.hero-text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: relative;
    align-self: flex-start;
    flex-direction: column;
    position: absolute;
    left: 10%;
    top: 30%;
}

.hero-text h1 {
    margin-top: 0;
    font-size: 74px;
    max-width: 400px;
}

.hero-text aside {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.hero-text button {
    transition: all 100ms ease-in-out;
    outline: 2px solid var(--text-100);
    display: flex;
    background-color: inherit;
    border: none;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
}

.hero-text button:hover,
.hero-text button:focus {
    outline-offset: 2px;
    background-color: var(--text-100);
    color: var(--bg-100);
    text-decoration: none;
}

/*SLIDER*/

.slider{
    margin-top: 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;

}

.slider__slides{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overscroll-behavior-inline: contain;
    transition: transform 0.7s ease-in-out;
}

.slider-group {
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    gap: 0.5%;
}

.slider-group > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
  

.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    z-index: 2;
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 250ms;
    transition-delay: 3s;
}

.slider__prev:hover,
.slider__prev:focus .slider__prev {
    transition: opacity 250ms;
    opacity: 1;
}

.slider__next:hover,
.slider__next:focus .slider__next {
    transition: opacity 250ms;
    opacity: 1;
}
  
.slider__prev {
    left: -30px;
}
  
.slider__next {
    right: -30px;
}


/*DONATION APPROACHES*/


.approaches {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
}

.approaches figure {
    display: flex;
    justify-content: center;
    background-color: var(--bg-200);
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    min-width: 140px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 30px 44px 0px rgba(200, 200, 200, 0.25);
    transition: all 1000ms;
}

.approaches figure:hover,
.approaches figure:focus-visible {
    transform: translateY(-10px);
    transition: all 250ms;
    background-color: var(--bg-100);
    box-shadow: 0px 25px 39px 0px rgba(200, 200, 200, 0.20);
}

/*APPRECIATION*/


.comments {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.comment-author {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: start;
}

.comments hr,
.news-box hr,
.doctors hr {
    height: 1px;
    width: 100%;
    color: var(--border-color);
    opacity: 0.6;
}

/*GALLERY*/

.photo-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    grid-gap: 10px;
}

.photo-box img{
    border-radius: 20px;
}

.photo-box button {
    border-radius: 20px;
    border: none;
    background-color: var(--primary-100);
    padding: 12px 10px;
    cursor: pointer;
    color: var(--bg-100);
    transition: background-color 1000ms;
}


.photo-box button:hover,
.photo-box button:focus-visible {
    transition: background-color 250ms;
    background-color: var(--accent-200);
}

/*NEWS*/


.news h1 {
    align-self: center;
}

.news-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}

.news-box figure {
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    max-height: 220px;
}

.news-box figure img {
    width: 220px;
    height: 220px;
    aspect-ratio: 1 / 1 ;
    object-fit: cover;
}

.news-box .info {
    flex-direction: column;
    display: flex;

}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.footer-box nav {
    display: flex;
    gap: 40px;
}

.footer-box ul {
    padding: 0;
}

.footer-box ul li {
    display: list-item;
}



.footer-box ul li a:hover,
.footer-box ul li a:focus-visible {
    transition: color 250ms;
    color: var(--text-100);
}

footer hr {
    border: 1px solid var(--Dark, #0A142F);
    opacity: 0.06;
    background: var(--Dark, #0A142F);
    width: 80%;
    height: 3px;
}

.social-medias {
    display: flex;
    gap: 10px;
}

.social-medias img {
    border-radius: 50%;
    transition: box-shadow 250ms;
}

.social-medias img:hover {
    box-shadow: 0 0 1px var(--text-200);
}

/*ABOUT US PAGE*/

.about-info {
    width: 90%;
}

/*CHILDREN PAGE*/

.media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 28%;
    gap: 10px;
    padding: 0 10px 10px;

    overflow-x: scroll;
    overscroll-behavior-inline: contain;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: 5px;
    place-items: center;
    background: var(--bg-200);
    border-radius: 2px;  
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

/*DONATON PAGE*/

.donation {
    display: flex;
    justify-content: space-around ;
    align-items: flex-start;
}

.requisites {
    margin-top: 20px;
    align-items: baseline;
    justify-content: first baseline;
}

.qrcode {
    max-width: 250px;
    max-height: 250px;
    min-width: 150px;
    min-height: 150px;
}

/*NEWS PAGE*/

.new-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.aside-news {
    width: 40%;
}

.aside-news figure {
    display: flex;
    background-color: var(--bg-100);
    max-width: 250px;
    gap: 10px;
    padding-right: 10px;
    border-radius: 2px;
    border: 0.5px outset var(--border-color);
    margin: 0;
    transition: background-color 250ms;
}

.aside-news figure:hover,
.aside-news figure:focus-visible {
    transition: background-color 250ms;
    background-color: var(--bg-200);
}

.aside-news figure img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.news-photos {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.news-photos img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
}

.new-info {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}



.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/*HELP PAGE*/

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.requirements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.requirements ul {
    padding-left: 60px;
    list-style-type: decimal;
    justify-self: flex-start;
}

form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 80%;
}

form button {
    width: 100px;
    justify-self: center;
    align-self: center;
}

form input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-200);
    resize: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-200);
    resize: none;
}

#parentsPasport,
#prescription,
#childPhoto,
#statement,
#receipt {
    display: none;
}



label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 150px;
    border-radius: 6px;
    border: 1px dashed #999;
    cursor: pointer;
}

label:hover {
    color: #00619a;
    border: 1px dashed #00619a;
}

.status {
    color: green;
    text-align: center;
    margin: 5px;
    font-weight: 600;
}

/*APPRECIATION PAGE*/

.appreciation {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.certificates figure {
    width: 250px;
    height: 500px;
}

/*LETTER*/

.letter-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter {
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
}

.letter ul {
    list-style-type: decimal;
    padding-left: 50px;

}

/*HOSPITAL*/

.hospital {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hospital-info {
    width: 75%;
}

/*DOCTORS*/

.doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.doctors-info {
    width: 80%;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-doctors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.doctor-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.doctor-name a {
    color: var(--primary-200);
}

.doctor-name h2, .doctor-name h4, .doctor-name h6 {
    margin: 0;
}

.about-doctors img {
    aspect-ratio: 1 /1;
    object-fit: cover;
    border-radius: 50%;
    max-width: 180px;
    max-height: 180px;
}

@media only screen and (max-width : 1260px) {
    .hero-text h1 {
        font-size: 60px;
        margin: 0;
    }
}

@media only screen and (max-width : 1080px) {
    header nav ul li h4 {
        font-size: smaller;
    }
}

/*RESPONSIVE RULES*/
@media only screen and (max-width : 768px) {
    h6, h5, h4, h3, h2, h1, a, p, .ellipsis, .multiline-ellipsis, button {
        font-size: smaller;
    }
    .hero-text h1 {
        font-size: 45px;
        margin: 0;
    }
}


@media only screen and (max-width : 425px) {
    .slider__prev,
    .slider__next {
        height: 40px;
        width: 40px;
    }

    .slider__prev {
        left: -20px;
    }
    .slider__next {
        right: -20px;
    }

    body {
        margin-top: 110px;
    }

    .logo {
        max-width: 110px;
        max-height: 110px;
    }

    .slider {
        margin-top: 30px;
    }

    .hero-text {
        margin-top: 20px;
        position: relative;
        left: 0;
        top: 0;
    }

    .about-doctors {
        flex-direction: column;
    }

    .donation {
        flex-direction: column-reverse;
    }

    .news-box figure img {
        width: 100px;
        height: 100px;
    }

    .appreciation {
        flex-direction: column;
    }

    .new-page {
        justify-content: center;
        align-items: center;
    }

    .aside-news, .new-info {
        width: 90%;
    }
    .new-page {
        flex-direction: column-reverse;
    }

    .media-scroller {
        grid-auto-columns: 44%;
    }


    .footer-box {
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .footer-box nav {
        justify-content: center;
        align-items: center;
    }


    .approaches {
        flex-direction: column;
    }

    .approaches figure {
        max-width: 90%;
    }

    header nav ul {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .hero-image {
        display: none;
    }

    .hero-label {
        left: 0;
        height: 200px;
    }
    
    .slider__slide img {
        height: 250px;
    }

    .hero-text {
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 50px;
        margin: 0;
    }

    .hero-text aside {
        margin-left: 20px;
    }

    .photo-box {
        width: 90%;
    }

    .comments {
        width: 90%;
    }

    .news-box figure img {
        width: 200px;
        height: 200px;
    }

}

