/*GENERAL*/

:root {
    --primary-100:#0077C2;
    --primary-200:#59a5f5;
    --primary-300:#c8ffff;
    --accent-100:#00BFFF;
    --accent-200:#00619a;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#FFFFFF;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
}

body {
    margin: 100px 0 0 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-100);
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a, p {
    color: var(--text-200);

    text-decoration: none;
}

h6, h5, h4, h3, h2, h1 {
    color: var(--text-100);
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    margin-top: 30px;
}

.logo {
    min-width: 30px;
    min-height: 30px;
    max-width: 100px;
    max-height: 100px;
}

.multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to display */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: var(--text-200);
  }

button {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.details {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}

.details h4:hover,
.details h4:focus-visible  {
    color: var(--text-200);
    transition: color 250ms;
}

/* HEADER*/

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: var(--bg-100);
    top: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(200, 200, 200, 0.30);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

header nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

header nav ul li {
    display: list-item;

}

header nav ul li h4:hover,
header nav ul li h4:focus-visible {
    transition: color 250ms;
    color: var(--text-200);
}

#menu {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-200);
    flex-direction: column;
    z-index: 3;
}

#menu nav {
    display: flex;
    flex-direction: column;
}

.menu-btn {
    display: none;
    align-self: center;
}

.other-pages {
    display: block;
}

.donation-btn {
    border: none;
    background-color: var(--primary-100);
    color: var(--bg-100);
    padding: 10px 20px;
    border-radius: 2px;
    transition: all 1000ms;
}

.donation-btn:hover,
.donation-btn:focus-visible {
    transform: translateY(-8px);
    transition: all 250ms;
    background-color:  var(--accent-200);
}

/*HERO*/

.hero-image {
    display: flex;
    max-height: 600px;
}

.hero-text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: relative;
    align-self: flex-start;
    width: 100%;
}

.hero-text h1 {
    font-size: 80px;
    max-width: 400px;
}

.hero-text aside {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.hero-text button {
    transition: all 100ms ease-in-out;
    outline: 2px solid var(--text-100);
    display: flex;
    background-color: inherit;
    border: none;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
}

.hero-text button:hover,
.hero-text button:focus {
    outline-offset: 2px;
    background-color: var(--text-100);
    color: var(--bg-100);
    text-decoration: none;
}

/*SLIDER*/

.slider{
    position: relative;
    width: 100%;
    overflow: hidden;

}

.slider__slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slider__slide{
    min-width: 100%;
    flex: 0 0 100%;
}

.slider__slide > img {
    width: 100%;
    height: 400px;
    aspect-ratio: 16 / 9;
    object-fit:cover;
}
  

.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
}
  
.slider__prev {
    left: -30px;
}
  
.slider__next {
    right: -30px;
}


/*DONATION APPROACHES*/


.approaches {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
}

.approaches figure {
    display: flex;
    justify-content: center;
    background-color: var(--bg-200);
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    min-width: 140px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 30px 44px 0px rgba(200, 200, 200, 0.25);
    transition: all 1000ms;
}

.approaches figure:hover,
.approaches figure:focus-visible {
    transform: translateY(-10px);
    transition: all 250ms;
    background-color: var(--bg-100);
    box-shadow: 0px 25px 39px 0px rgba(200, 200, 200, 0.20);
}

/*APPRECIATION*/


.comments {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.comment-author {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comments hr {
    height: 1px;
    width: 100%;
    color: var(--text-200);
}

/*GALLERY*/

.photo-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-gap: 10px;
}

.photo-box img{
    border-radius: 20px;
}

.photo-box button {
    border-radius: 20px;
    border: none;
    background-color: var(--primary-100);
    padding: 12px 10px;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    color: var(--bg-100);
    transition: background-color 1000ms;
}


.photo-box button:hover,
.photo-box button:focus-visible {
    transition: background-color 250ms;
    background-color: var(--accent-200);
}

/*NEWS*/


.news h1 {
    align-self: center;
}

.news-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.news-box figure {
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    max-height: 220px;
}

.news-box figure img {
    width: 220px;
    height: 220px;
}

.news-box .info {
    flex-direction: column;
    display: flex;

}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.footer-box nav {
    display: flex;
    gap: 40px;

}

.footer-box ul {
    padding: 0;
}

.footer-box ul li {
    display: list-item;
}

.footer-box ul li a {
    font-weight: 500;
}

.footer-box ul li a:hover,
.footer-box ul li a:focus-visible {
    transition: color 250ms;
    color: var(--text-100);
}

footer hr {
    border: 1px solid var(--Dark, #0A142F);
    opacity: 0.06;
    background: var(--Dark, #0A142F);
    width: 80%;
    height: 3px;
}

.social-medias {
    display: flex;
    gap: 10px;
}

.social-medias img {
    border-radius: 50%;
}

.social-medias img:hover {
    box-shadow: 0 0 1px var(--primary-300);
}

/*ABOUT US PAGE*/

.about-info {
    width: 90%;
}

/*CHILDREN PAGE*/

.media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 28%;
    gap: 10px;
    padding: 0 10px 10px;

    overflow-x: scroll;
    overscroll-behavior-inline: contain;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: 10px;
    padding: 10px;
    background: var(--bg-200);
    border-radius: 2px;
    
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

/*DONATON PAGE*/

.donation {
    display: flex;
    justify-content: space-around ;
    align-items: baseline;
}

/*NEWS PAGE*/



/*HELP PAGE*/

.requirements {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.requirements ul {
    padding-left: 20px;
    list-style-type: decimal;
}


/*RESPONSIVE RULES*/

@media only screen and (max-width:425px) {
    header nav {
        justify-content: space-around;
        width: 100%;
    }

    .footer-box {
        flex-direction: column;
        text-align: center;
    }


    .approaches {
        flex-direction: column;
    }

    .approaches figure {
        max-width: 90%;
    }

    .other-pages {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .hero-image {
        display: none;
    }

    .hero-label {
        left: 0;
        height: 200px;
    }
    
    .slider__slide img {
        height: 250px;
    }

    .hero-text {
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text aside {
        margin-left: 20px;
    }

    .photo-box {
        width: 90%;
    }

    .comments {
        width: 90%;
    }

    .news-box figure img {
        width: 200px;
        height: 200px;
    }

}

